	<section>
		<!-- left side start-->
		<div class="left-side sticky-left-side">
			<!--logo and iconic logo start-->
			<div class="logo">
				<a href="index.html"><img src="images/logo.png" alt=""></a>
			</div>
			<div class="logo-icon text-center">
				<a href="index.html"><img src="images/logo_icon.png" alt=""></a>
			</div>
			<!--logo and iconic logo end-->
			<div class="left-side-inner">

				<!-- visible to small devices only -->

				<!--sidebar nav start-->
				<ul class="nav nav-pills nav-stacked custom-nav">
					<li><a ng-href="#/admins/news"><i class="fa fa-laptop"></i><span>新闻动态</span></a>
						</li>
					<li><a ng-href="#/admins/article"><i class="fa fa-laptop"></i><span>文章</span></a>
						</li>
						

				</ul>
				<!--sidebar nav end-->

			</div>
		</div>
		<!-- left side end-->
		<!-- main content start-->
		<div class="main-content" >
			<!-- header section start-->
			<div class="header-section">

				<!--toggle button start-->
				<a class="toggle-btn"><i class="fa fa-bars"></i></a>
				<!--toggle button end-->

				<!--search start-->
				<form class="searchform" action="index.html" method="post">
					<input type="text" class="form-control" name="keyword"
						placeholder="Search here..." />
				</form>
				<!--search end-->

				<!--notification menu start -->
				<!--notification menu end -->

			</div>
			<!-- header section end-->

			<!-- page heading start-->
			<div class="page-heading">
				<h3>新闻动态</h3>
			</div>
			<!-- news list start  -->
			<div ng-controller="newsAddController">
                <form class="form-horizontal">
                	<input type="hidden" ng-model="id">
				  <div class="form-group">
				    <label class="col-sm-2 control-label">标题:</label>
				    <div class="col-sm-10">
				    <input ng-model="subject"  placeholder="标题">
				    </div>
				  </div> 
				  <div class="form-group">
				    <label class="col-sm-2 control-label">内容:</label>
				    <div class="col-sm-10">
				    <input ng-model="content"  placeholder="内容">
				    </div>
				  </div>
				  <div>
				&nbsp;<button class="btn btn-success" ng-click="news_save();">
				<span class="save"></span>保存
				</button>
				&nbsp;<button class="btn btn-warning" ng-click="news_list();">
				<span class="update"></span>返回
				</button>
				</button>
			</div>
				</form>
				<hr>
			</div>
			<!-- news list end  -->
			
			<!-- page heading end-->

			<!--body wrapper start-->
			<!--body wrapper end-->

			<!--footer section start-->
			<footer> 2016 &copy; Developed by Shirley </footer>
			<!--footer section end-->
		</div>
		<!-- main content end-->
	</section>

